body {
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #add8e6;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

/* Mengatur pembungkus container form di tengah */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Styling untuk wrapper navigasi di atas form */
.wrapper-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper-nav h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Mengatur ukuran dan posisi logo di atas form */
.img-wrapper img {
    width: 150px;
    margin-bottom: 10px;
}

/* Styling untuk elemen form */
.form-group {
    margin-bottom: 15px;
    text-align: left;
   
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Styling untuk tombol submit */
.form-group button {
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Menambahkan efek hover pada tombol */
.form-group button:hover {
    background-color: #0056b3;
}

.form-gender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}






